.display-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 47.5vh;
    width: 70vw;
    background: rgb(50, 145, 38);
}

.cones {
    background: grey;
    height: 47.5vh;
    padding: 0;
    
    button {
        height: 15.8vh;
        border-radius: 0;
    }
}

.scoops {
    background: grey;
    height: 47.5vh;
    padding: 0;

    button {
        height: 15.8vh;
        border-radius: 0;
    }
}