.display-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 47.5vh;
    width: 70vw;
    background: grey;
}

.cones, .scoops {
    height: 47.5vh;
    padding: 0vw;
    text-align: center;
    
    button {
        height: 13.8vh;
        border-radius: 1.5vh;
        margin: 1vh 0vw;
        font-size: 1.5vw;
    }
}

.scoops {
    text-align: left;
}

.drinks {
    height: 47.5vh;
    padding: 0vw;

    button {
        height: 13.8vh;
        border-radius: 1.5vh;
        margin: 1vh 0vw;
        font-size: 1.5vw;
    }
}



