<div class="display-container">
  <div class="totals">
    <div class="container subtotal-wrapper">
      <p class="subtotal-label">Subtotal</p>
      <p class="subtotal-data">8.17</p>
    </div>
    <div class="container discount-wrapper">
      <p class="discount-label">Discount</p>
      <p class="discount-data">0.00</p>
    </div>
    <div class="container tax-wrapper">
      <p class="tax-label">Tax</p>
      <p class="tax-data">0.72</p>
    </div>
    <div class="container total-wrapper">
      <p class="total-data">0.72</p>
    </div>
    <div class="container input-wrapper">
      <p class="input-data">-</p>
    </div>
    <div class="payment-btns">
        <button class="btn btn-primary cash-btn" onclick="this.blur();">Cash</button>
        <button class="btn btn-primary credit-btn" onclick="this.blur();">Credit</button>
    </div>
  </div>
  <div class="numpad"></div>
</div>
