<div
  *ngIf="slideIn"
  [@slideSide]
  class="jumbotron"
  [ngStyle]="{
    width: '93%',
    margin: 'auto',
    padding: '5rem',
    marginTop: '5rem'
  }"
>
  <h1>Let's Talk</h1>
  <h2 class="mb-4">
    Send me an email or give me a call about inquiries or job opportunities!
  </h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5
            [ngStyle]="{
              fontSize: '1.65rem',
              margin: '0rem'
            }"
          >
            Email
          </h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p
        [ngStyle]="{ cursor: 'pointer' }"
        onClick="window.open('mailto:tonyvu.dev@gmail.com')"
      >
        tonyvu.dev@gmail.com
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5
            [ngStyle]="{
              fontSize: '1.65rem',
              margin: '0rem'
            }"
          >
            Phone
          </h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>612-246-0527</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
