<p class="promise">
  <span class="dark-blue">public class</span>
  <span class="grey"> Recursion</span>
  <span class="grey"> &#123;</span><br />

  <span class="dark-blue"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;static</span
  >
  <span class="grey"> String</span><span class="teal"> reverse</span>
  <span class="grey"> (String str) &#123;</span><br />
  <span class="dark-blue"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if</span
  >
  <span class="grey"> (str.isEmpty()) &#123;</span><br />
  <span class="dark-blue"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return</span
  >
  <span class="grey"> str</span><span class="dark-blue">;</span><br />
  <span class="grey"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</span
  >
  <span class="dark-blue"> else </span><span class="grey">&#123;</span><br />
  <span class="dark-blue"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return </span
  ><span class="grey"> reverse(str.substring(</span><span class="then">1</span>
  <span class="grey">)) + str.charAt(</span><span class="then">0</span
  ><span class="dark-blue"><span class="grey">)</span>;</span><br />
  <span class="grey"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</span
  ><br />
  <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</span
  ><br /><br />
  <span class="dark-blue"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;public static void</span
  >
  <span class="teal"> main</span>
  <span class="grey"> (String[ ] args) &#123;</span><br />
  <span class="dark-blue"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.</span
  ><span class="comment">out</span><span class="grey">.println(reverse(</span>
  <span class="comment"
    >"TIG ,partstooB ,LQSyM ,SSAS ,SSC ,LMTH ,sserpxE ,tpircSavaJ </span
  ><br />

  <span class="comment"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,ralugnA
    ,gnirpS avaJ ,avaJ :SLLIKS"</span
  >
  <span class="grey">));</span><br />
  <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</span
  ><br /><span class="grey">}</span>
</p>
