.promise {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  .dark-blue {
    color: rgb(54, 39, 255)
  }
  
  .comment{
    color: rgb(203, 41, 209);
  }
  
  .teal {
    color: rgb(22, 153, 170);
  }
  
  .green {
    color:  rgb(31, 131, 44);
  }
  
  .blue {
      color: rgb(63, 177, 212);
  }
  


  .purple {
      color: rgb(238, 1, 255);
  }
  
  .grey {
      color: rgb(110, 110, 110);
  }
  
  .then {
      color: rgb(255, 0, 0);
  }
  
  .orange {
    color: rgb(187, 121, 0);
  }