<form #form="ngForm" autocomplete="off">
  <div class="form-group">
    <label>First Name</label>
    <input
      name="FirstName"
      #FirstName="ngModel"
      [(ngModel)]="service.formData.FirstName"
      type="text"
      class="form-control"
      required
    />
    <div
      *ngIf="FirstName.invalid && FirstName.touched"
      class="validation-error"
    >
      This field is required.
    </div>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input
      name="LastName"
      #LastName="ngModel"
      [(ngModel)]="service.formData.LastName"
      type="text"
      class="form-control"
      required
    />
    <div
      *ngIf="LastName.invalid && LastName.touched"
      class="validation-error"
    >
      This field is required.
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Submit</button>
  </div>
</form>
