<div class="display-container" style="overflow: scroll; height: xyz;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="td-display" scope="col">Description</th>
        <th class="td-display" scope="col">QTY</th>
        <th class="td-display" scope="col">Unit Price</th>
        <th class="td-display" scope="col">Subtotal</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of service.itemList">
        <td class="td-display">{{ item.Name }}</td>
        <td class="td-display">{{ item.Quantity }}</td>
        <td class="td-display">{{ item.UnitPrice }}</td>
        <td class="td-display">{{ item.Subtotal }}</td>
        <td (click)="removeItem(item.ItemID)" class="delete-td">
          <button class="btn btn-outline-danger rmv-btn" onclick="this.blur();">Remove</button>&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
</div>
