.display-container {
  height: 47.5vh;
  width: 70vw;
  overflow-y: scroll;
}

tr {
  background-color: rgb(236, 236, 236);
}

.td-display {
  width: 14vw;
  font-size: 1vw;
}

td {
  background-color: white;
}



.rmv-btn {
  font-size: 1vw;
}

